# Python 3.12.8
torch                          2.4.1+cu124
torch_cluster                  1.6.3+pt24cu124
torch-geometric                2.6.1
torch_scatter                  2.1.2+pt24cu124
torch_sparse                   0.6.18+pt24cu124
torch_spline_conv              1.2.2+pt24cu124
torchaudio                     2.4.1+cu124
matplotlib                     3.10.0
numpy                          2.2.6